.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.App-header .title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-header .title img{
  width: 50px;
  margin: 3rem;
}

.App-header .filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 2px solid yellow; */
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
